/* Custom Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

html {
	font-family: "Poppins", sans-serif;
}

.button-shadow {
	box-shadow: 0px 0px 21px -5px rgb(181, 181, 181);
}

.bg-primary-red {
	background-color: #FF3366;
}

.primary-red {
	color: #FF3366;
}

.card-container {
	width: 46%;
	border-width: 0.5px;
}
